@import url('https://fonts.googleapis.com/css?family=Merriweather:700|Open+Sans');

body {
  background-color: black;
  color:white;
  font-family: 'Open Sans', sans-serif;
  font-family: 'Merriweather', serif;
  font-size: 16px;
  line-height: 1.6;
}

img {
  width: 100%;
}

h1 {
  font-family: 'Merriweather', serif;
  font-weight: 700;
  font-size: 2.5em;

}

h2, h3, h4 {
  font-weight: 400;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.9em;
}

p, ul, li, a, span{
  font-weight: 400;
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
}


ul, li{
  list-style-type: none;
  padding: 0;
  margin:0;
}

a.main-btn {
  text-decoration: none;
}

.main-btn {
  background-color: #bc2222;
  color: white;
  font-size: 1.8em;
  font-weight: 400;
  font-family: 'Open Sans', sans-serif;
  padding: 10px 50px;
  border: 0.4px solid grey;
  border-radius: 20px;
}


.align-right {
  text-align: right;
}

.align-center {
  text-align: center;
}


.bg-blue {
  background-color: #10337F;
  color: white;
}

/*  Page Launch list  */
.page-list ul  {
  margin-bottom: 20px;
}

.page-list span {
  font-size: 2em;
}


.page-list li{
  padding-top: 20px;
  padding-bottom: 1px;
  border-bottom: 1px solid white;
}
