@import url('https://fonts.googleapis.com/css?family=Lato:700|Roboto:300');


body {
  background-color: black;
  color:white;
  font-size: 16px;
  line-height: 1.6;
}

body.nav-active {
  overflow:hidden;
}

img {
  width: 100%;
}

h1 {
  font-family: 'Lato', sans-serif;
  font-weight: 700;


}

h2, h3, h4 {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;

}

p, ul, li, a, span{
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 1em;
}


ul, li{
  list-style-type: none;
  padding: 0;
  margin:0;
}

a.main-btn {
  text-decoration: none;
}

.margin-top {
  margin-top: 50px;
}

.margin-bottom {
  margin-bottom: 50px;
}

.main-btn {
  background-color: #bc2222;
  color: white;
  font-size: 1.8em;
  padding: 10px 50px;
  border: 0.4px solid grey;
  border-radius: 20px;
  transition: 0.2s ease;
}

.main-btn:hover {
  color: white;
  background-color: #920909;
}

.align-right {
  text-align: right;
}

.align-center {
  text-align: center;
}


.bg-lightblack {
  background-color: #040911;
  color: white;
}

/*  Page Launch list  */
.page-list ul  {
  margin-bottom: 20px;
}

.page-list span {
  font-size: 1.5em;
}


.page-list li{
  padding-top: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid rgba(255,255,255,0.65);
}

.page-list li.list-header span {
    font-weight: 700;
    line-height: 1;
}


.page-list.full-launch-list li a, .page-list.short-launch-list li a {
  font-size:18px;
  color: rgba(255,255,255,0.65);
  display:block;
  line-height: 1;
  transition: color 0.2s ease;
}

.page-list.full-launch-list li a:hover, .page-list.short-launch-list li a:hover {
  color: white;
}


.page-list.short-launch-list li span {
  font-size: 22px;
  width:33.333%;
  padding: 0 15px 0 0;
  display:inline-block;
  white-space: nowrap;
  overflow:hidden;
  text-overflow: ellipsis;
}

.page-list.full-launch-list li span {
  font-size: 22px;
  width: 22%;
  padding: 0 15px 0 0;
  display:inline-block;
  white-space: nowrap;
  overflow:hidden;
  text-overflow: ellipsis;
}

.page-list.full-launch-list li span.short-item {
  width:12%;
}

.page-list.single-launch-data {
  margin-bottom:50px;
}

.page-list.single-launch-data li span {
  font-size: 18px;
  color: #bbbbbb;
}

.page-list.single-launch-data li {
  font-size: 18px;
}

@media (min-width: 768px) {
  .page-list.single-launch-data li span, .page-list.single-launch-data li {
    font-size:22px;
  }
}


@media (max-width: 767.98px) {
  .page-list.full-launch-list li span, .page-list.short-launch-list li span {
    font-size: 18px;
  }

  .page-list.full-launch-list li span {
    width: 35%;
  }

  .page-list.full-launch-list li span.short-item {
    width: 30%;
  }
}


span.hide-mobile{
  display: none !important;
}

.mobile-only {
  display: block;
}

.desktop-only {
  display: none;
}

@media (min-width:768px) {
  span.hide-mobile {
    display: inline-block !important;
  }

  .mobile-only {
    display: none;
  }

  .desktop-only {
    display: block;
  }
}

.lato-font {
  font-family: 'Lato', sans-serif;
  font-weight: 700;
}

.next-previous {
  font-size:22px;
}
