@import url('https://fonts.googleapis.com/css?family=Merriweather:700|Open+Sans');

body {
  background-color: black;
  color:white;
  font-family: 'Open Sans', sans-serif;
  font-family: 'Merriweather', serif;
}

#page {
	max-width: 1200px;
	margin:0 auto;
	position:relative;
}

img {
  width: 100%;
}

h1 {
  font-family: 'Merriweather', serif;
  font-weight: 700;
  font-size: 2.5em;

}

h2, h3, h4 {
  font-weight: 400;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.9em;
}

p, ul, li, a {
  font-weight: 400;
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
}


ul, li{
  list-style-type: none;
  padding: 0;
  margin:0;
}

a.main-btn {
  text-decoration: none;
}

.main-btn {
  background-color: #bc2222;
  color: white;
  font-size: 1.8em;
  font-weight: 400;
  font-family: 'Open Sans', sans-serif;
  padding: 10px 50px;
  border: 0.5px solid grey;
  border-radius: 20px;
}
