header {
  position: relative;
  z-index:2;
}

header {
height: 100px;
width: auto;
}

header a.logo {
background: url(../images/logo.svg) no-repeat 0 0;
z-index: 1;
position: absolute;
display: block;
width: 200px;
height: 40px;
margin-top: 30px;
}

@media (min-width:768px) {
  header a.logo {
    width: 300px;
  }
}
