.index-container {
  margin-bottom: 70px;
  margin-top: 20px;
}


/*  Home Next Launch */

.index-next-launch-photo img {
  box-sizing: border-box;
  width: 100%;
  max-height: 600px;
}


.index-next-launch-info {
  text-align: center;
  padding: 50px 2px;
}

.index-next-launch-info h1 {
  color: #2269FF;
  font-size: 6em;
  margin-bottom: 20px;
}

.index-next-launch-info h2 {
  font-size: 3.5em;
  margin-bottom: 20px;

}

.index-next-launch-info h3 {
  font-size: 2.5em;
  margin-bottom: 20px;
}

.index-next-launch-info h4 {
  font-size: 1.3em;
  margin-bottom: 40px;
}

.index-next-launch-info span {
  font-size:0.6em;
  padding-left: 10px;
}



@media (max-width:1100px) {
  .index-next-launch-info h1 {
    font-size: 3em;
  }
}


@media (max-width:769px) {

}


/*  Home Upcoming and previous launches */

.index-all-launches h1{
  color: white;
  font-size: 2em;
  margin-bottom: 10px;
  margin-top:20px;
}


a.link-all-launches{
  color: #2269FF;
  font-size: 1.5em;
  margin:25px 0;
  display:block;
}

/*  Facts Launch   */


.index-launch-facts h1{
  color: #2269FF;
  font-size: 8em;
  margin-bottom: 10px;
  margin-top:30px;
}

.index-launch-facts span{
  font-size: 12em;
}

.index-launch-facts p{
  font-size: 2em;
}


/*  Rockets Launch   */


.index-rockets h1 {
  color: #2269FF;
  font-size: 8em;
  margin-bottom: 10px;
  margin-top:20px;
}

.index-rockets h2 {
  font-size: 1.8em;
}

.index-rockets {
  padding: 30px;
}

.featured-image-mobile {
  display: block;
}

.featured-image {
  display: none;
}

.featured-bg-image {
  background-image: url('../images/rocket.jpg');
  background-size: cover;
  width:100%;
  height:100%;
}

@media (min-width:768px) {
  .featured-image-mobile {
    display: none;
  }
  .featured-image {
    display: block;
  }
}
