nav {
  margin-top: 30px;
  }

.menu {
  opacity:0;
  background-color: black;
  color:black;
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  z-index:1;
  transition: all .5s ease;
}

.menu-container {
  margin-top: 100px;
}

.menu.active {
  opacity:1;
}

.menu li a{
  color:white;
  padding: .3em;
  font-size: 2em;
}


/* Hamburger icon */
/* credits: https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_menu_icon_js */

.hamburger-icon {
    display: inline-block;
    cursor: pointer;
}

.bar1, .bar2, .bar3 {
    width: 50px;
    height: 5px;
    background-color: grey;
    margin: 6px 0;
    transition: 0.4s;
}

.active .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}

.active .bar2 {opacity: 0;}

.active .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}
